.profile-img{
	width : 200px;
	height: 200px;
	border-radius: 50%;
}
.small-img{
    // size: 50px;
    width: 40px;
  height: 40px;
  border-radius: 50%;

}

p{
    font-size: small;
}

.btn-space{
    // padding: 100px;
    // margin-right: 1%;
    margin-left: 75%;
}

#info{
    display: inline-flex;
    li{
    list-style: none;
    line-height: 20px;
    padding: 20px 20px 0px 0px;
    // color: #529471;
    // margin-right: 10px;
    }
}

.post-img{
    display: flex;
    width: 60%;
    height: 40%;
    align-items: center;
    justify-items: center;
}

.hideIt{
    visibility:hidden;
    }

.btn-size{
    width: 120px;
}