#signUplogo {
    width: 8em;
    height: 7em;
    margin-bottom: 0.5em;
}

#signupForm {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #529471;
    border-width: 3px;
    box-shadow: 0.5px 0.5px 0.5px;
    background-color: #eee;
    position: relative;
    margin-top: -2.7em;
}

#SigninQuestion {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .1em;
}

#passowrdImage {
    width: 2em;
    height: 2em;
    position: relative;
    left: 22em;
    bottom: 3em;
}

#ResendVerification {
    color: white;
    text-decoration: none;
}

.loginRedirectButton {
    width: 8.5em;
}
.verifySignoutButton {
    width: 9.4em;
}

#logoContainer {
    position: relative;
    bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
