// #logoContainer {
//     background-color: red;
// }

#signUplogo {
    width: 5em;
    height: 2.5em;
    position: relative;
    // left: .5em;
    bottom: 1em;
    border: solid 1px black;
    border-radius: 20em;
}

#signupForm {
    // height: 300px;
    padding: 20px;
    // background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #529471;
    border-width: 3px;
    box-shadow: 0.5px 0.5px 0.5px;
    background-color: #eee;
}

#SigninQuestion {
    text-align: center;
    display: flex;
    flex-direction:column;
    // justify-content: center;
    align-items: center;
    margin-top:1em;
}

#passowrdImage{
    width:2em;
    height:2em;
    position:relative;
    left: 22em;
    bottom: 3em;
}

#ResendVerification{
    color: white;
    text-decoration:none;
}