#welcomeLogo {
    position: relative;
    left: 5em;
    width: 30em;
    height: 12em;
    margin-right: 2em;
    margin-bottom: 5em;
}

#welcomeTitle {
    position: relative;
    left: 1em;
    top: 0.6em;
    color: white;
    font-weight: bold;
    text-shadow: 0.5px 0.5px black;
}

#oauthSpan {
    display: flex;
    justify-content: center;
}
.loginRight {
    margin-top: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginDiv {
    display: flex;
    justify-content: center;
}

.loginLeft {
    position: relative;
    bottom: 2em;
    right: 4em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #529471;
    font-weight: bold;
    text-shadow: 0.1px 0.1px black;
    margin-bottom: 10px;
}

.login {
    width: 100vw;
    height: 82vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70em;
    height: 20em;
    display: flex;
}

.loginDesc {
    font-size: 30px;
    position: relative;
    left: 2em;
    bottom: 3em;
}
#leftFlex {
    display: flex;
    flex-direction: row;
}

.loginBox {
    height: 19em;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #529471;
    border-width: 3px;
    box-shadow: 0.5px 0.5px 0.5px;
    background-color: #eee;
}

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
    margin-bottom: 0.5em;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot {
    text-align: center;
    color: #1775ee;
    margin-top: 1em;
}

#forgotPasswordSpan {
    position: relative;
    top: 0.5em;
}
.loginRegisterButton {
    color: white;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
    padding: 0 0.5em;
    margin-top: 0.5em;
}
.loginRegisterButton span {
    width: 15em;
}

.anchorContainer {
    text-align: center;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.loginRegisterButton:hover {
    text-decoration: underline;
}

#forgotPasswordContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

#forgotPasswordContainer span,
#forgotPasswordContainer a {
    font-size: 0.8em;
    margin: 0.2em;
}
#forgotPasswordButton {
    height: 2em;
    width: 13em;
    font-size: 1em;
    font-weight: bold;
}

#WelcomepassowrdImage {
    width: 1.5em;
    height: 1em;
    position: relative;
    left: 30em;
    bottom: 2.3em;
}

#footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutUs {
    position: relative;
    left: 1.9em;
    bottom: 1.5em;
    font-size: 0.7em;
}
