.ad_container {
    display: flex;
    padding: 10px;
    margin: 10px 0;
    flex-direction: column;
    border-bottom: 1px solid grey;

    .ad_image {
        width: 100%;
        cursor: pointer;
    }

    .ad_title {
        font-weight: bold;
        margin: 10px 0;
        font-size: 0.9rem;
        cursor: pointer;
        color: #5181b8;
    }

    .ad_text {
        font-size: 0.8rem;
    }
}