.new_post_container {
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    -webkit-box-shadow: -1px 1px 7px 1px rgba(167, 164, 164, 0.66); 
    box-shadow: -1px 1px 7px 1px rgba(167, 164, 164, 0.66);

  .MuiAvatar-root.new_post_avatar {
    width: 50px;
    height: 50px;
  }

  .new_post_first_row {
    display: flex;
    border-bottom: 1px solid grey;

    .new_post_text_area {
      border: none;
      max-height: 100px;
      margin-left: 5px;
    }
  }

  .new_post_second_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .select_input{
      max-width: 50%;
    }

    .MuiSvgIcon-root.photo_library_icon {
      cursor: pointer;
      margin-right: 5px;
    }

    .image_file_input {

    }
  }
}

.profile{
  width:10px;
}

#PhotoLibraryIcon{
  color:#529471;
}