.post_container {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: -1px 1px 7px 1px rgba(167, 164, 164, 0.66);
  box-shadow: -1px 1px 7px 1px rgba(167, 164, 164, 0.66);

  .post_header {
    display: flex;
    align-items: center;

    .post_header_avatar {
      margin-right: 10px;
      cursor: pointer;
    }

    .post_header_user_info {
      display: flex;
      flex-direction: column;

      .post_header_username {
        font-weight: bold;
        cursor: pointer;
        color: #5181b8;
        margin-bottom: 5px;
      }

      .post_header_created_at {
        color: grey;
        font-size: 0.8rem;
      }
    }

    .post_header_drop_down_list {
      margin-left: auto;
    }
  }

  .post_text_content {
    font-size: 0.9rem;
    margin: 15px 0;
    line-height: 1.5;
  }

  .post_images_container {
    .post_image {
      width: 100%;
      height: 350px;
      cursor: pointer;
      object-fit: cover;
    }
  }

  .post_footer {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 15px 0;
    border-top: 1px solid rgba(167, 164, 164, 0.66);
    border-bottom: 1px solid rgba(167, 164, 164, 0.66);

    .post_footer_likes_container {
      margin-right: 40px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .favorite_icon {
        margin-right: 10px;

        &.active {
          color: red;
        }
      }
    }

    .post_footer_comment_container {
      display: flex;
      align-items: center;
      cursor: pointer;

      .chat_bubble_icon {
        margin-right: 10px;
      }
    }
  }
}
